<section id="customers">
  <section id="mainFooter">
      <p style="line-height:30px; margin-top:24px;"> ZU UNSEREN <b> KUNDEN </b> ZÄHLEN </p>
    </br>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <img src="<%= image_path('/images/logos/aeg.jpg') %>" alt="aeg-logo"  width="90%" style="margin:10px 0 10px 0">
        </div>
        <div class="col-md-3 col-xs-6">
          <img src="<%= image_path('/images/logos/siemens.jpg') %>" alt="siemens" width="90%" style="margin:10px 0 10px 0">
        </div>
        <div class="col-md-3 col-xs-6">
          <img src="<%= image_path('/images/logos/heag.jpg') %>" alt="heag-mobilo" width="90%" style="margin:10px 0 10px 0">
        </div>
        <div class="col-md-3 col-xs-6">
          <img src="<%= image_path('/images/logos/conti.jpg') %>" alt="continental" width="90%" style="margin:10px 0 10px 0">
        </div>
		<br>
		<div class="col-md-3 col-xs-6">
          <img src="<%= image_path('/images/logos/daimler.jpg') %>" alt="daimler-logo"  width="90%" style="margin:10px 0 10px 0">
        </div>
		<div class="col-md-3 col-xs-6">
          <img src="<%= image_path('/images/logos/merck.jpg') %>" alt="merck-logo"  width="90%" style="margin:10px 0 10px 0">
        </div>
		<div class="col-md-3 col-xs-6">
          <img src="<%= image_path('/images/logos/pepperl.jpg') %>" alt="pepperl-logo"  width="90%" style="margin:10px 0 10px 0">
        </div>
		<div class="col-md-3 col-xs-6">
          <img src="<%= image_path('/images/logos/krupp.jpg') %>" alt="krupp-logo"  width="90%" style="margin:10px 0 10px 0">
        </div>
      </div>
    </div>
  </section>
</section>

